<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nguyenhoanganhkhoa.com.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".AboutUsScreen"
            android:exported="true" />
        <activity
            android:name=".TopUpQRCodeScreen"
            android:exported="true" />
        <activity
            android:name=".TopUpScreen"
            android:exported="true" />
        <activity
            android:name=".AllNotificationScreen"
            android:exported="true" />
        <activity
            android:name=".NotificationDialog"
            android:exported="true" />
        <activity
            android:name=".ShowAllTransactionScreen"
            android:exported="true" />
        <activity
            android:name=".QRCodeScreen"
            android:exported="true" />
        <activity
            android:name=".HomePageScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalInformationSetScreen"
            android:exported="true" />
        <activity
            android:name=".VerificationSignupScreen"
            android:exported="true" />
        <activity
            android:name=".EmailScreen"
            android:exported="true" />
        <activity
            android:name=".SignUpScreen_UserInfo"
            android:exported="true" />
        <activity
            android:name=".CreateNewPasswordScreen"
            android:exported="true" />
        <activity
            android:name=".VerificationScreen"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordScreen"
            android:exported="true" />
        <activity
            android:name="nguyenhoanganhkhoa.com.test.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".LoginScreen"
            android:exported="true" />
        <activity
            android:name="nguyenhoanganhkhoa.com.test.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>